* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line {
  width: 60px;
  height: 2px;
  background-color: black;
}

.hero {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.hero-left {
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
}

.hero-left h2 {
  padding-bottom: 1rem;
}

.hero-right {
  padding: 6rem 4rem;
}

.hero-btns {
  margin-top: 4rem;
  gap: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
