* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

ul li {
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.line {
  width: 60px;
  height: 2px;
  background-color: black;
  display: block;
}

.hero {
  display: grid;
  grid-template-columns: 4fr 8fr;
  min-height: 100vh;
  align-items: center;
}

.hero-left p {
  font-size: 1.2rem;
}

.hero-left {
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
}

.hero-left h2 {
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

.hero-right {
  padding: 6rem 4rem;
}

.hero-right {
  font-size: 1.3rem;
}

.hero-btns {
  margin-top: 4rem;
  gap: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-btns button {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

/* ---------- EXPERIENCE ---------- */

.circle {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  flex-shrink: 0;
}

.vertical-line {
  height: 60px;
  width: 2px;
  background-color: black;
}

.experience {
  min-height: 100vh;
  padding: 6rem 2rem;
}

.experience-items {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 800px;
  gap: 1.5rem;
}

.line-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.line-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.experience h2 {
  font-size: 1.8rem;
}

.experience-text h3 {
  font-size: 1.3rem;
  padding: 0.3rem 0;
}

.experience-text p {
  font-size: 1.1rem;
}

/* ---------- SKILLS ---------- */
.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-card {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.skills-card i {
  font-size: 5rem;
}

.skills-card .circle {
  background-color: red;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
